name: "test-local"
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - run: npm ci
    - name: Annotate
      uses: ./
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        input: ./test/json-report.json
